<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Greetings. Recap. About Carpentries: basics, history, methods.</td> </tr>
      <tr> <td>11:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a>(includes two short breaks)</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break und installation helpdesk</td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (1-3)</a></td></tr>
      <tr> <td>17:00</td>  <td>Open space for practice</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (4-13)</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Discussion</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
